
<ion-content [fullscreen]="true">
  <div id="container">
    <div style="padding-top: 10px">
      <div #map id="map" style="width: 100%; height: 500px;"></div>
    </div>
  </div>
  <div class="container">
      <h1 style="text-align: center ; font-size: 20px; font-weight: bold;">Rutas disponibles</h1>
      <h2 style="text-align: center; font-size: 16px; padding: 10px;">Consulta las rutas de tu zona. Haz clic abajo para ver el horario de llegada.</h2>


    <ion-input [(ngModel)]="routeClient.from.name" readonly class="pt-2" label="selecciona tu origen" label-placement="floating" fill="outline" placeholder="selecciona tu origen"></ion-input>
    <ion-input [(ngModel)]="routeClient.to.name" (click)="openPlaceListModal('to')" readonly class="pt-2 pb-2" label="selecciona tu destino" label-placement="floating" fill="outline" placeholder="selecciona tu destino"></ion-input>

    <div>
      <ion-list>
        <ion-item-group>
          <ion-item-divider style="padding: 9px;">
            <ion-label> Rutas disponibles </ion-label>
          </ion-item-divider>

          <ion-item *ngFor="let route of locationsRoutes">
            <ion-label style="display: flex; align-items: center; grid-gap: 10px;">
              <ion-icon name="navigate-outline"></ion-icon> {{route.route_name}}
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>
  </div>
</ion-content>
